<!DOCTYPE html>
<html>

<head>
    {% extends "A_layout.html" %}
    {% block head %}
    <title>CLG - Liste Classes</title>
    {% endblock %}
</head>


<body>
    {% block content %}

    <div class="container mt-3">
        <a href="/ajoutVacances" class="btn btn-warning">Ajouter des vacances</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for conge in conges %}
                <tr>
                    <td>{{ conge[0] }}</td>
                    <td><a class="btn btn-warning" href="/annuleVacances/{{ conge[0] }}"
                        onclick="if (confirm('Voulez-vous vraiment annuler le jour de congés ?')) commentDelete(1); return false">Annuler</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>

</html>