<!DOCTYPE html>
<html>

<head>
    {% extends "A_layout.html" %}
    {% block head %}
    <title>CLG - Liste Enfants</title>
    {% endblock %}
</head>


<body>
    {% block content %}
    <div class="container mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom enfant</th>
                    <th scope="col">Prénom enfant</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Tarif</th>
                    <th scope="col">Representant</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for enfant in enfants %}
                <tr>
                    <td>{{ enfant[0] }}</td>
                    <td>{{ enfant[1] }}</td>
                    <td>{{ enfant[2] }}</td>
                    <td>{{ enfant[3] }}</td>
                    <td>{{ enfant[4] }} {{ enfant[5] }}</td>
                    <td>
                        <a href="/detailsEnfant/{{ enfant[6] }}" class="btn btn-warning">Editer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>

</html>