<!DOCTYPE html>
<html>

<head>
    {% extends "A_layout.html" %}
    {% block head %}
    <title>CLG - Liste Familles</title>
    {% endblock %}
</head>


<body>
    {% block content %}
    <div class="container mt-5 mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom représentant</th>
                    <th scope="col">Prénom représentant</th>
                    <th scope="col">Adresse mail</th>
                    <th scope="col">Numéro de téléphone</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for representant in representants %}
                <tr>
                    <td>{{ representant[1] }}</td>
                    <td>{{ representant[2] }}</td>
                    <td>{{ representant[4] }}</td>
                    <td>{{ representant[3] }}</td>
                    <td>
                        <a href="/detailsFamille/{{ representant[0] }}" class="btn btn-warning">Editer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>

</html>