<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Restauration scolaire de l'école ...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>


<body>
    {% extends "R_layout.html" %}

    {% block content %}

    <div class="container mt-5">
        <form method="POST">
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Ancien mot de passe</label>
                <div class="col-sm-10">
                    <input name="fpassword" id="fpassword" class="form-control" type="password" value=""
                        aria-label="default input example">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
                <div class="col-sm-10">
                    <input name="password" id="password" class="form-control" type="password" value=""
                        aria-label="default input example">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password2" class="col-sm-2 col-form-label">Confirmation du mot de passe</label>
                <div class="col-sm-10">
                    <input name="password2" id="password2" class=" form-control" type="password" value=""
                        aria-label="default input example">
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Modifier</button>
            <a href="/info" class="btn btn-warning">Retour</a>
        </form>

    </div>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    {% endblock %}
</body>

</html>