<!DOCTYPE html>
<html>

<head>
    {% extends "R_layout.html" %}
    {% block head %}
    <title>Restauration scolaire de l'école ...</title>
    {% endblock %}
</head>

<body>

    {% block content %}
    <div class="container mt-3 mb-3">
        <h1>Futurs repas des enfants</h1>
        <p>/!\ Les repas peuvent être annulés au plus tard 48h avant celui-ci /!\</p>
        <p>Annulation possible à partir du {{date_limite}}</p>
        {% for enfant in enfants %}
        {% if repasEnfants[0] %}
        <h2>{{ enfant[2] }} {{ enfant[1] }}</h2>
        <table class="table table-stripped">
            <thead>
                <th scope="col">Date</th>
                <th cope="col">Action</th>
            </thead>
            <tbody>
                {% for repas in repasEnfants %}
                {% for repa in repas %}
                {% if repa[0] %}
                {% if repa[2] == enfant[0] %}
                <tr>
                    <td scope="row">{{ repa[1] }}</td>
                    {% if repa[1] > date_limite %}
                    <td><a class="btn btn-warning" href="/annuleRepas/{{ repa[0] }}"
                            onclick="if (confirm('Voulez-vous vraiment annuler le repas ?')) commentDelete(1); return false">Annuler</a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>

        </table>
        {% endif %}
        {% endfor %}
        <a class="btn btn-warning" href="/ajoutRepas">Ajouter un repas</a>
    </div>
    {% endblock %}
</body>

</html>